
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: aquamarine;
}

.navbar-left{
    padding-left: 20px;
}

.navbar-right{
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.a-element{
    padding: 10px;
    margin: 10px;
    border: 2px solid red;
}

.home{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.home img{
    border: 30px solid black;
    
}