body {
    margin: 0px;
    background-color: black;
    color: aliceblue;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(21, 22, 22);
}

.navbar-left {
    padding-left: 50px;
}

.logo-image {
    padding-top: 5px;
    height: 70px;
}

.navbar-right {
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.a-element {
    padding: 10px;
    margin: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 85vh;
}

.home-left {
    width: 50vw;
    text-align: right;
    padding-left: 100px;
}

.home img {
    width: 30vw;
    height: 50vh;
    padding-right: 100px;
}

.services {
    padding: 50px;
    text-align: center;
}

.services-head{
    font-family: 'ubuntu',sans-serif;
    color: aquamarine;
    letter-spacing: 3px;   
    font-size: 50px; 
    font-style: italic;
}

.services-sub-cont{
    display: flex;
    flex-direction: row; 
    margin-left: 175px;
}

.services-card{
    border: 2px rgb(26, 186, 26) solid;
    margin: 20px;
    width: 400px;
}

.contact{
    text-align: center;
}

.contact-info{
    font-family: 'Monoserrat',sans-serif;
    font-size: 25px;
}

.social-icon{
    height: 50px;
    padding: 20px;
}